*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}
.logo{
    cursor: pointer;
    font-size: 30px;
    font-weight: 400px;
    text-decoration-line: none;
}
.text1{
    color: orange;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 30px 150px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    
}
nav li{
    margin-right: 40px;
    font-size: 18px;
}
.btn-nav{
    background-color: orangered;
    width: 100px;
    height: 45px;
    color: #ffff;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
}
.btn-nav:hover{
    background-color: aqua;
    
}
.nav-banner{
    margin: 0px 150px;
    align-items: center;
    display: flex;
}