*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}
.logo{
    font-size: 30px;
    font-weight: 400px;
}
.text1{
    color: orange;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    
}
nav li{
    display: flex;
}